apiVersion: v1
kind: Service
metadata:
  name: zabbix-server
  namespace: zabbix
  labels:
    app: zabbix-server
spec:
  type: ClusterIP
  ports:
  - port: 10051
    targetPort: 10051
    protocol: TCP
    name: zabbix-trapper
  - port: 10050
    targetPort: 10050
    protocol: TCP
    name: zabbix-agent
  selector:
    app: zabbix-server
