apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: prometheus-dep
  namespace: prometheus
  labels:
    app: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      securityContext:
          fsGroup: 1000
      containers:
      - name: prometheus-con
        image: prom/prometheus:v3.7.3
        ports:
          - containerPort: 9090
        volumeMounts:
          - name: prom-db
            mountPath: /prometheus
  volumeClaimTemplates:
  - metadata:
      name: prom-db
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: local-storage
      resources:
        requests:
          storage: 1Gi
