apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-cfg
  namespace: prometheus
data:
  prometheus.yml: |
    global:
      # How frequently to scrape targets by default.
      scrape_interval: 30s
    
    scrape_configs:
    - job_name: "prometheus"

      static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: prometheus
# ---
# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: prometheus-rules-cfg
#   namespace: proemtheus
# data:
#   rules.yaml: |
